%col-common {
  float: left;
  padding-left: $pd-4;
  padding-right: $pd-4;
}

.row {
  margin-left: (-$pd-4);
  margin-right: (-$pd-4);

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.col {
  @extend %col-common;
  width: 100%;
}

.col-half {
  @extend %col-common;
  width: 50%;
}
