.contact__content {
  padding: $pd-5 0;

  input.btn {
    float: right;
    margin: $mg-4 0;
  }
}

.contact__info {
  font-size: $fs-1 + 3;
  margin-bottom: $pd-3;
  i {
    width: 30px;
  }
}

.contact__form {
  .row:not(:last-of-type) {
    margin-bottom: $pd-4;
  }
  .form-control {
    border: 1px solid $color-grey-1;
    padding: $pd-4;
    width: 100%;
  }
}
